In [10]:
%run -i 'python_functions/cleaning_csv.py'

## Reading CSV file (2)

In [2]:
movie_lines = reading_csv("characters")
movie_lines.head()

,character,Ant-Man,Avengers: Age of Ultron,Avengers: Endgame,Avengers: Infinity War,Black Panther,Captain America: Civil War,Captain America: The First Avenger,Captain America: The Winter Soldier,Captain Marvel,...,Spider-Man: Homecoming,The Avengers,Thor,Thor: Ragnarok,Thor: The Dark World,total lines,total words,movie appearances,avg words per line,avg lines per movie
0,TONY STARK,0,173,137,119,0,165,0,0,0,...,74,152,0,0,0,1788,22590,9,12,198
1,STEVE ROGERS,3,133,119,25,0,154,186,218,3,...,7,121,0,0,0,977,8653,10,8,97
2,THOR,0,55,70,74,0,0,0,0,0,...,0,47,166,289,133,863,9487,7,10,123
3,PETER PARKER,0,0,7,39,0,73,0,0,0,...,402,0,0,0,0,551,5517,4,10,137
4,NATASHA ROMANOFF,1,79,69,15,0,64,0,112,3,...,0,97,0,1,0,498,4689,10,9,49

### Reading CSV from Selenium:

In [3]:
top_characters = reading_csv("top_characters")
top_characters.head()

   Unnamed: 0                     0          character
0           0     50. JUSTIN HAMMER      JUSTIN HAMMER
1           1   49. THE GRANDMASTER    THE GRANDMASTER
2           2  48. ALEXANDER PIERCE   ALEXANDER PIERCE
3           3       47. HAPPY HOGAN        HAPPY HOGAN
4           4     46. THE RED SKULL      THE RED SKULL

### Cleaning tables:

In [7]:
top_characters = replacing_characters()

#### Merge both tables for a specific analysis:

In [8]:
movie_top_characters = pd.merge(movie_lines, top_characters, on='character', how='inner')

In [11]:
movie_top_characters = cleaning_df()

In [12]:
movie_top_characters[:5]

,full_name,Ant-Man,Avengers_Age_of_Ultron,Avengers_Endgame,Avengers_Infinity_War,Black_Panther,Captain_America_Civil_War,Captain_America_The_First_Avenger,Captain_America_The_Winter_Soldier,Captain_Marvel,...,Spider-Man_Homecoming,The_Avengers,Thor,Thor_Ragnarok,Thor_The_Dark_World,total_lines,total_words,movie_appearances,avg_words_per_line,avg_lines_per_movie
0,TONY STARK,0,173,137,119,0,165,0,0,0,...,74,152,0,0,0,1788,22590,9,12,198
1,STEVE ROGERS,3,133,119,25,0,154,186,218,3,...,7,121,0,0,0,977,8653,10,8,97
2,THOR,0,55,70,74,0,0,0,0,0,...,0,47,166,289,133,863,9487,7,10,123
3,PETER PARKER,0,0,7,39,0,73,0,0,0,...,402,0,0,0,0,551,5517,4,10,137
4,NATASHA ROMANOFF,1,79,69,15,0,64,0,112,3,...,0,97,0,1,0,498,4689,10,9,49

### Export in a CSV file:

In [15]:
movie_top_characters.to_csv('/Users/lauurasarabia/Ironhack/projects/project4/data/movie_top_characters.csv')