In [1]:
import sqlalchemy as alch
import os 
from dotenv import load_dotenv
import pandas as pd
import numpy as np

In [2]:
movie_lines = pd.read_csv("/Users/lauurasarabia/Ironhack/projects/project4/data/characters.csv")
movie_lines[:5]

,character,Ant-Man,Avengers: Age of Ultron,Avengers: Endgame,Avengers: Infinity War,Black Panther,Captain America: Civil War,Captain America: The First Avenger,Captain America: The Winter Soldier,Captain Marvel,...,Spider-Man: Homecoming,The Avengers,Thor,Thor: Ragnarok,Thor: The Dark World,total lines,total words,movie appearances,avg words per line,avg lines per movie
0,TONY STARK,0,173,137,119,0,165,0,0,0,...,74,152,0,0,0,1788,22590,9,12,198
1,STEVE ROGERS,3,133,119,25,0,154,186,218,3,...,7,121,0,0,0,977,8653,10,8,97
2,THOR,0,55,70,74,0,0,0,0,0,...,0,47,166,289,133,863,9487,7,10,123
3,PETER PARKER,0,0,7,39,0,73,0,0,0,...,402,0,0,0,0,551,5517,4,10,137
4,NATASHA ROMANOFF,1,79,69,15,0,64,0,112,3,...,0,97,0,1,0,498,4689,10,9,49

In [3]:
movie_lines["character"].unique()

array(['TONY STARK', 'STEVE ROGERS', 'THOR', 'PETER PARKER',
       'NATASHA ROMANOFF', 'PEPPER POTTS', 'BRUCE BANNER', 'NICK FURY',
       'LOKI', 'SCOTT LANG', 'JAMES RHODES', 'PETER QUILL',
       'CAROL DANVERS', 'JANE FOSTER', 'ROCKET', 'CLINT BARTON',
       'SAM WILSON', 'GAMORA', "T'CHALLA", 'HAPPY HOGAN', 'HANK PYM',
       'ODIN', 'JARVIS', 'NED LEEDS', 'ERIK SELVIG', 'PHIL COULSON',
       'BUCKY BARNES', 'THANOS', 'DRAX', 'WANDA MAXIMOFF', 'DARCY LEWIS',
       'ADRIAN TOOMES', 'PEGGY CARTER', 'SHURI', 'HOPE VAN DYNE',
       'VALKYRIE', 'LUIS', 'JUSTIN HAMMER', 'ULTRON', 'MARIA HILL',
       'NEBULA', 'STEPHEN STRANGE', 'VISION', 'VOLSTAGG', 'NAKIA',
       'LIZ TOOMES', 'YON-ROGG', 'YONDU', 'FRIGGA', 'OKOYE', 'KAREN',
       'MANTIS', 'EVERETT ROSS', 'MAYA HANSEN', 'HOWARD STARK', 'SIF',
       'ALEXANDER PIERCE', 'COL. CHESTER PHILLIPS', 'TALOS',
       'ALDRICH KILLIAN', 'EGO', 'FANDRAL', 'RED SKULL', 'DARREN CROSS',
       "N'JADAKA (KILLMONGER)", 'HEIMDALL', 'HARLEY KEENER',
       'OBADIAH STANE', 'JAMES "JIM" PAXTON', 'BROCK RUMLOW',
       'MAY PARKER', 'MARIA RAMBEAU', 'HULK', 'DR. ARNIM ZOLA', 'YINSEN',
       'FRIDAY', 'ULYSSES KLAUE', 'GRANDMASTER', 'SHARON CARTER',
       'DR. ABRAHAM ERSKINE', 'IVAN VANKO', 'PHINEAS MASON',
       'SENATOR STERN', 'DAVE', 'HELA', 'HELMUT ZEMO',
       'CHRISTINE EVERHART', 'KORG', 'HERMAN SCHULTZ', 'KURT',
       'CASSIE LANG', 'SECRETARY ROSS', 'MALEKITH', 'PIETRO MAXIMOFF',
       'FLASH THOMPSON', 'GROOT', 'EBONY MAW', "M'BAKU", 'RICHARD',
       'AARON DAVIS', 'IAN BOOTHBY', 'JASPER SITWELL', 'ZURI', 'RAMONDA',
       'ERIC SAVIN', 'BAD NEBULA', "W'KABI", 'WENDY LAWSON', 'GARY',
       'MAJOR ALLEN', 'LAUFEY', 'MONICA RAMBEAU', "N'JOBU",
       'LAURA BARTON', 'TREVOR SLATTERY', 'TASERFACE', 'DR. HELEN CHO',
       'MAN', 'THE MANDARIN', 'AYESHA', 'ANCIENT ONE',
       'BARON WOLFGANG VON STRUCKER', 'SECURITY GUARD', 'JACKSON BRICE',
       "T'CHAKA", 'SKURGE', 'KRAGLIN', 'EITRI', 'MR. HARRINGTON',
       'MAGGIE LANG', 'HOGUN', 'SUPREME INTELLIGENCE',
       'MICHELLE "MJ" JONES', 'SHIELD AGENT', "FURY'S CAR", 'SURTUR',
       'STAN LEE', 'DIRECTOR', 'MORGAN STARK', 'SHIELD COMPUTER', 'RAZA',
       'MINN-ERVA', 'DORIS TOOMES', 'ACTOR THOR', 'SENATOR BRANDT',
       'COUNCILMAN', 'WONG', 'PRESIDENT ELLIS', 'ACTOR LOKI', 'DALE',
       'JAPSER SITWELL', 'BRANDT', 'KORATH', 'CHARLES MURPHY',
       'DUM DUM DUGAN', 'MR. DELMAR', 'TOPAZ', 'ABRAHAM BROWN', 'STAKAR',
       'COUNCILMAN ROCKWELL', 'MITCHELL CARSON', 'RONAN', 'VASILY KARPOV',
       'QUINJET', 'GENERAL GABRIEL', 'NEWS REPORTER', 'THE COLLECTOR',
       'GABE JONES', 'OFFICER', 'POLICE OFFICER', 'VIPER 1',
       'MUSEUM DIRECTOR', 'DR. LIST', 'DOCTOR', 'A1 STEVE', 'JIM MORITA',
       'SKRULL SCIENTIST', 'BETTY BRANT', 'JAMES MONTGOMERY FALSWORTH',
       'ADMISSIONS NURSE', 'PROXIMA MIDNIGHT', 'GRIOT', 'WOMAN',
       'BRON-CHAR', 'THE OTHER', "YOUNG T'CHAKA", 'INTERCOM VOICE',
       'GENERAL', 'ALGRIM', 'TOWER KEEPER', 'MARSHAL', 'GUARD #2',
       '4F DOCTOR', 'USO SINGER', 'NEWS ANCHOR', 'VICE PRESIDENT',
       'GEORGI LUCHKOV', 'VIPER 2', 'GERMAN INNKEEPER', 'GUARD',
       'SHIELD LIEUTENANT', 'COUNCILWOMAN', 'MRS. DAVIS', 'SHIELD TECH',
       'CINDY MOON', 'COMPUTER', 'FRENCH PIRATE #1', 'ABU', 'MARIA STARK',
       'SEARCH TEAM LEADER', 'BRANDTâ€™S AIDE', 'DRUNK TOWNIE JAKE',
       'YOUNG TONY STARK', 'JASON IONELLO', 'ANNOUNCER', 'PVT. LORRAINE',
       'ROSE HILLS SHERIFF', 'PILOT', 'MEREDITH QUILL', 'TOM',
       'EINHERJAR GUARD', 'A1 THOR', 'AGENT', 'ISABELA',
       'CHARLIE WEAPONS TECH', 'ATT-LASS', 'SECURITY', 'COLLECTOR',
       'JACK', 'MINING TRIBE ELDER', 'YOUNG ZURI', 'STRAWBERRY MAN',
       'LILA BARTON', 'SON', 'JACK TAGGART', 'CROWD', 'REPORTER',
       'FATHER', 'SERGEANT DUFFY', 'MRS. SPENCER', 'GRIEVING MAN',
       'ANNE MARIE HOAG', 'IRON LEGION', 'COUNCILMAN SINGH', 'ROEDER',
       'SHAMAN', 'COACH WILSON', 'FRANK', 'HEAD ENGINEER', 'SCHNEIDER',
       'MS. WARREN', 'RANDY', 'PRINCIPAL MORITA', 'MEDICAL EXAMINER',
       'POLICE', 'MADAME B', 'APPLE EMPLOYEE', 'GILMORE HODGE', 'M.P.',
       'COM TECH #1', 'TULLK', 'TECHNICIAN', 'CORVUS GLAIVE',
       'DELIVERY TRUCK DRIVER', 'IRON MAN JIMMY', 'CHARLIE XO',
       'FEMALE SHIELD AGENT', 'FRENCH PIRATE', 'OAKLAND KID #1',
       'FORTRESS SOLDIER', 'RIVER TRIBE ELDER', 'MALE AGENT', 'HO YINSEN',
       'GALE', 'YOUNG KILLMONGER', 'GIRL', 'EIR', 'YOUNG GAMORA',
       'MALE NURSE', 'THE SMITHSONIAN NARRATOR', 'TECHIE', 'MIT TEACHER',
       'NEWS ANCHOR #4', 'COMMERCIAL ANNOUNCER', 'A1 TONY',
       'COMMITTEE GENERAL', 'HEINZ KRUGER', 'DRUNK TOWNIE', 'TOUR GUIDE',
       'ADMIRAL', 'FEMALE WAR VETERAN', 'HUTTER', 'GEF THE RAVAGER',
       'MODERATOR', 'SOREN', 'YOUNG GIRL', 'DESK OFFICER',
       'OAKLAND KID #3', 'SPECIALIST CAMERON KLEIN',
       'ICE CREAM STORE CUSTOMER', 'MILITARY AIDE', 'TOWNIE PETE',
       'CHAMBERMAID', 'LOUD JERK', 'POLICE OFFICER #1', 'STUDENT',
       'RETCH', 'NURSE', 'DETECTIVE', 'RENATA', 'SECURITY CHECKPOINT',
       'KREE', 'ROBBER 1', 'STRIKE AGENT', 'ELON MUSK', 'AGENT CALE',
       'LEAD SCRAPPER', 'PEACHY', 'POLICE OFFICER #2', 'GSG-9 SOLDIER',
       'MOTHER', 'OAKLAND KID #2', 'MADDIE', 'AGENT GARRETT', 'CONNIE',
       'DORA MILAJE 1', 'PRATT', 'ALPHA GUARD', 'ERIN', 'COM TECH #2',
       'YOUNG BOY', 'ACCUSER', 'SALLY AVRIL', 'SHIELD AGENT #2',
       'BRIAN "TINY" MCKEEVER', 'PA', 'SOOTHING VOICE',
       'DODGERS ANNOUNCER', "ZEMO'S WIFE", 'NEWS ANCHOR #1',
       'POLICE SERGEANT', 'SCUDDER', 'AKIHIKO', 'CARRIER BRIDGE TECH 1',
       'GEORGES BATROC', 'EMCEE', 'RONIN', 'REPORTER #2',
       'COUNCILWOMAN HAWLEY', 'JABARI WARRIORS', 'NEWS READER',
       'EDWIN JARVIS', "YOUNG T' CHAKA", 'ARMY HECKLER#1', 'CONTROL',
       'MERCHANT TRIBE ELDER', 'WORKER', 'SHIELD WORKER', 'WOMAN ON PA',
       'BORDER TRIBE ELDER', 'ANTON VANKO', 'CARINA', 'JET PILOT',
       'COMPUTER VOICE', 'EINHERJAR LIEUTENANT', 'MAN ON PA',
       'MERCENARY #1', 'OBLO', 'STREET VENDOR', 'COLLEGE GIRL 1',
       'SECURITY OFFICER', 'STARKâ€™S ENGINEER', 'YOUNG COP',
       'COUNCILMAN YEN', 'GUARDS', 'IAN', 'PARK RANGER', 'PARTY GUEST',
       'CAR JACKER', 'FEMALE CARRIER BRIDGE TECH', 'GERMAN OLD MAN',
       'GOVERNMENT OFFICIAL #2', 'GUARD #1', 'LIMBANI', 'SCANNER',
       'SCIENTIST #1', 'UN STAFFER', 'WARDEN', 'BITCHING-BETTY',
       'FRIGHTENED PILOT', 'HISTORY TEACHER', 'LINDA', 'MARTINEX',
       'MILITANT LEADER', 'YOUNG BLACK KID', 'ALETA', 'AYO',
       'COLLEGE GIRL 2', 'COUSIN CARLO', 'DODC AGENT', 'ELDERLY WOMAN',
       'MARJORIE', 'OFFICER #2', "PEPPER'S ASSISTANT", 'A1 NATASHA',
       'BARTENDER', 'HIDEOUS RABBIT', 'HYDRA DISPATCH', 'JAN',
       'PYM TECH SECURITY GUARD', 'TECH', 'SOLDIERS', 'FBI AGENT 1',
       'REPORTER # 1', 'THAI WAITER', 'VANESSA', 'WOMAN ON TRAIN',
       'A1 HULK', 'CHARLIE-27', 'DELI CLERK', 'FEMALE NURSE', 'HEATHER',
       'HYDRA LIEUTENANT', 'MAIDEN', 'SKRULL TECH', 'STUDENTS', 'BOTH',
       'CUSTODIAN', "KLAUE'S MERCENARY", 'NAVID', 'YOUNG DOCTOR', 'BUCKY',
       'SKRULL', 'DECATHLON TEAM', "HAPPY'S NURSE", 'TV REPORTERâ€™S VOICE',
       'NARRATOR', 'VIDEO VOICE OVER', 'BBC ANCHOR',
       'STONEHENGE TV NEWS REPORTER', 'ACTOR ODIN', 'MAC GARGAN',
       'ASGARDIAN PA', 'THOR/SELVIG', 'HOSPITAL NEWS REPORTER',
       'LIBRARIAN', 'MAN ON THE RADIO', 'WAITRESS', 'JOAN RIVERS',
       "VERS' BROTHER", 'MALE REPORTER', 'THE SENATOR',
       "STARK'S ASSISTANT", 'LOKI/STEVE', 'MR. COBBWELL', 'CULL OBSIDIAN',
       'NEWS ANCHOR #2', 'NEWS ANCHOR #5', 'BILL MAHER', 'BOR', 'CRAMER',
       'FRENCH AMBASSADOR', 'CHAD DAVIS', 'EXPO ANNOUNCER', 'PRIEST',
       'ASGARDIAN NURSE', 'ATTACHE', 'BAILIFF', 'LITTLE BOY',
       'NEWS ANCHOR #3', 'MALE CITIZEN', 'NIGERIAN MILITANT #2',
       'NEWS REPORTER #1', 'TAXI DRIVER', 'CREW', 'OFFICER FITZGIBBON',
       'SHIELD PILOT', 'A1 CLINT BARTON', 'BIKER', 'CADETS',
       'MAN ON PA #1', 'MAN ON SPEAKERS', 'NOVAR', 'POLICE RADIO',
       'PUSHY TABLOID REPORTER', 'AGENT JACKSON', 'JOSEPH DANVERS',
       'MAN ON PA #2', 'NEWS REPORTER #4', 'BRAHL', 'COP ON SPEAKER',
       'ENLISTMENT GUY', 'FACILITY MANAGER', 'HUSBAND',
       'OLD FOOTAGE RECORDING', 'PET STORE CLERK', 'QUINJET PILOT',
       'SHIELD ENGINEER', 'TYCOON', 'WIFE', '25TH FLOOR STRIKE AGENT',
       'AVENGERS JIMMY', 'BOY', 'CALCUTTA WOMAN', 'DOME CONTROL',
       'FACELESS PILOT', 'GOVERNMENT EMPLOYEE', 'TEXT MESSAGE',
       'ATTENDANT', 'AVENGERS KID', 'COUNCILMAN HAWLEY',
       'HAMMER SECURITY GUARD', 'ROBBER 4', 'SOLDIER', 'ANNOUNCEMENT',
       'ASGARDIAN EINHERJAR', 'ASGARDIAN MAN', 'BARKEEPER', 'DAY SLEEPER',
       'EAGER TOWNIE', 'ELECTRONIC VOICE-OVER', 'FAMILIES',
       "GAMORA'S MOTHER", 'HYDRA SOLDIER', 'MR. HAPGOOD',
       'OFF SCREEN WORKER', 'OLD MAN', 'ORDERLY', 'PATIENT', 'SCIENTIST',
       'VOICEMAIL', 'ZRINKA', 'ANTIQUE STORE OWNER', 'DODC CENTRAL',
       'GOVERNMENT OFFICIAL #1', 'JOTUN SENTRY', 'KID IN THE BACKSEAT',
       'KIDS IN USO AUDIENCE', 'KURSE', 'MANDY', 'NEWS REPORTER #3',
       'REPORTER #3', 'RESIDENT 1', 'ROBBER 2', 'SECURITY CHIEF',
       'SMITHSONIAN GUARD',
       'VERS, BRON-CHAR, KORATH, MINN-ERVA AND ATT-LASS', 'DODC DRIVER',
       'DRILL INSTRUCTOR', 'FEMALE CITIZEN', 'HELICARRIER INTERCOM',
       'JOTUN', 'SCRAPPER', 'SHIELD AGENT #1', 'WORLD HUB TECH',
       'YOUNG SHIELD PILOT', '911 OPERATOR', 'ARMY HECKLER#2',
       'ARMY HECKLER#3', 'ARMY HECKLER#4', 'ASGARDIAN WOMAN',
       'BORDER TRIBE COMMANDER', 'COUNCILMAN 2', 'FRENCH PIRATE #2',
       'GSG-9 DRIVER', 'JACK ROLLINS', 'JAQUES DERNIER', 'MAINFRAME',
       'MAN#1', 'MAN#2', 'MANDARIN LOOK-OUT', 'NASA SCIENTIST',
       'NEWS REPORTER #2', 'PERSON', 'PRETTY MUCH EVERYONE IN THE CROWD',
       'PYM TECH EMPLOYEE', 'RAMIREZ', 'RANDOM WOMAN', 'SPANISH TEACHER',
       'SSR DOCTOR', 'TOURIST', 'VOICE FROM EARPIECE', 'WOMAN IN CROWD',
       'CAB DRIVER', 'DRIVER', 'ELDERS, WARRIORS, DORA', 'GOLDSTEIN',
       'GRANDPA QUILL', 'HALF-NUT', 'IRON MAN KID', 'JASON/BETTY',
       'KHALID', 'MAN IN CROWD', 'MERCENARY #2', 'OLDER MAN',
       'PROPRIETOR', 'RESIDENT 2', 'SECOND GUARD', 'SHIELD AGENT #3',
       'SOMEONE IN BACKGROUND', 'USO GIRL', 'WEASELLY THUG',
       'WEIRD OLD MAN', 'ACTOR SIF', 'ASGARDIAN CITIZENS', 'BORDER TRIBE',
       'CARGO TRUCK MILITANT', 'CHEERLEADER', 'CIA AGENT', 'CORPORAL',
       'DOCTOR #1', 'ELK RIDGE', 'FBI AGENT 2', 'FRIEND',
       'FURY AND MARIA', 'HYDRA TECHNICIANS', 'JOSEF / SUPER SOLDIER #1',
       'JOTUN VOICE', 'MAINTENANCE GUY', 'MALE VOICE', 'NIGERIAN WOMAN',
       'PEOPLE', 'POOL BBQ DAD', 'PYM TECH GATE GUARD', 'ROBBER 3',
       'SCURRILOUS RAVAGER', 'SOUTH AFRICAN TOUGH', 'SOVEREIGN PILOT',
       'STRIKE AGENT #2', 'TOWNIE', 'VOLSTAGG / HOGUN', 'WAKANDAN CHILD',
       'WAKANDAN CHILDREN', 'AGENT DELANCEY', 'ANNIE',
       'BALLET INSTRUCTOR', 'DUBAI BEAUTY #1', 'DURAND', 'HYDRA GUARDS',
       'JACQUES DERNIER', 'LIZ/NED', 'MERCENARY', 'MUFFLED VOICE',
       'ROSE HILL CHRISTMAS TREE SHOPPER', 'SHURI/NAKIA', 'SOH-LARR',
       'STRIKE AGENT #1', 'STRIKE AGENT #3', 'TALL RAVAGER', 'TENT KIDS',
       'THOMAS RICHARDS', 'THOR / BANNER'], dtype=object)

In [4]:
top_characters = pd.read_csv("/Users/lauurasarabia/Ironhack/projects/project4/data/top_characters.csv")

In [5]:
top_characters["character"].unique()

array([' JUSTIN HAMMER', ' THE GRANDMASTER', ' ALEXANDER PIERCE',
       ' HAPPY HOGAN', ' THE RED SKULL', ' BARON ZEMO', ' PEGGY CARTER',
       ' WONG', ' PEPPER POTTS', ' VALKYRIE', ' QUICKSILVER',
       ' ULYSSES KLAUE', ' VULTURE', ' HELA', ' EGO', ' MANTIS',
       ' M BAKU', ' HEIMDALL', ' OKOYE', ' PHIL COULSON', ' ODIN',
       ' JARVIS', ' SHURI', ' YONDU', ' NICK FURY', ' DRAX THE DESTROYER',
       ' ULTRON', ' NEBULA', ' ROCKET RACCOON', ' VISION', ' FALCON',
       ' ANT MAN', ' WAR MACHINE', ' GAMORA', ' HAWKEYE', ' DR STRANGE',
       ' SCARLET WITCH', ' KILLMONGER', ' STAR', ' BLACK WIDOW',
       ' THANOS', ' BLACK PANTHER', ' GROOT', ' THE WINTER SOLDIER',
       ' THE INCREDIBLE HULK', ' SPIDER MAN', ' LOKI', ' THOR',
       ' CAPTAIN AMERICA', ' IRON MAN'], dtype=object)

In [6]:
top_characters["character"].replace({' IRON MAN':'TONY STARK',
                                     ' CAPTAIN AMERICA':'STEVE ROGERS',
                                     ' SPIDER MAN':'PETER PARKER',
                                     ' THE INCREDIBLE HULK':'BRUCE BANNER',
                                     ' BLACK WIDOW':'NATASHA ROMANOFF',
                                     ' ANT MAN':'SCOTT LANG',
                                     ' HAWKEYE':'CLINT BARTON',
                                     ' BLACK PANTHER':"T'CHALLA",
                                     ' FALCON':'SAM WILSON',
                                     ' WAR MACHINE':'JAMES RHODES',
                                     ' THE WINTER SOLDIER':'BUCKY BARNES',
                                     ' DR STRANGE':'STEPHEN STRANGE',
                                     ' M BAKU':"M'BAKU",
                                    }, inplace=True)

In [7]:
top_characters["character"] = top_characters.character.str.lstrip().str.lstrip('_')

In [8]:
movie_top_characters = pd.merge(movie_lines, top_characters, on='character', how='inner')

In [9]:
movie_top_characters.columns

Index(['character', 'Ant-Man', 'Avengers: Age of Ultron', 'Avengers: Endgame',
       'Avengers: Infinity War', 'Black Panther', 'Captain America: Civil War',
       'Captain America: The First Avenger',
       'Captain America: The Winter Soldier', 'Captain Marvel',
       'Guardians of the Galaxy Vol. 2', 'Iron Man', 'Iron Man 2',
       'Iron Man 3', 'Spider-Man: Homecoming', 'The Avengers', 'Thor',
       'Thor: Ragnarok', 'Thor: The Dark World', 'total lines', 'total words',
       'movie appearances', 'avg words per line', 'avg lines per movie',
       'Unnamed: 0', '0'],
      dtype='object')

In [10]:
movie_top_characters.drop(['Unnamed: 0', '0'], axis=1, inplace=True)

In [11]:
movie_top_characters.rename(columns=lambda x: x.strip().replace(" ", "_"), inplace=True)

In [12]:
movie_top_characters.rename(columns=lambda x: x.strip().replace(":", ""), inplace=True)

In [13]:
movie_top_characters.rename({"character":"full_name"}, axis=1, inplace=True)

In [14]:
movie_top_characters[:5]

,full_name,Ant-Man,Avengers_Age_of_Ultron,Avengers_Endgame,Avengers_Infinity_War,Black_Panther,Captain_America_Civil_War,Captain_America_The_First_Avenger,Captain_America_The_Winter_Soldier,Captain_Marvel,...,Spider-Man_Homecoming,The_Avengers,Thor,Thor_Ragnarok,Thor_The_Dark_World,total_lines,total_words,movie_appearances,avg_words_per_line,avg_lines_per_movie
0,TONY STARK,0,173,137,119,0,165,0,0,0,...,74,152,0,0,0,1788,22590,9,12,198
1,STEVE ROGERS,3,133,119,25,0,154,186,218,3,...,7,121,0,0,0,977,8653,10,8,97
2,THOR,0,55,70,74,0,0,0,0,0,...,0,47,166,289,133,863,9487,7,10,123
3,PETER PARKER,0,0,7,39,0,73,0,0,0,...,402,0,0,0,0,551,5517,4,10,137
4,NATASHA ROMANOFF,1,79,69,15,0,64,0,112,3,...,0,97,0,1,0,498,4689,10,9,49

In [15]:
movie_top_characters.to_csv('/Users/lauurasarabia/Ironhack/projects/project4/data/movie_top_characters.csv')

In [35]:
top_10_actors = pd.read_sql_query("""
SELECT full_name, movie_appearances
    FROM marvel.top_characters
    ORDER BY movie_appearances DESC
    LIMIT 10;
""", engine)
top_10_actors

          full_name  movie_appearances
0      STEVE ROGERS                 10
1  NATASHA ROMANOFF                 10
2        TONY STARK                  9
3      JAMES RHODES                  8
4              THOR                  7
5      BRUCE BANNER                  7
6         NICK FURY                  7
7      PEPPER POTTS                  7
8              LOKI                  6
9        SAM WILSON                  6

In [36]:
top_10_actors.to_csv('/Users/lauurasarabia/Ironhack/projects/project4/queries/top_10_actors.csv')

In [37]:
lines_vs_movies = pd.read_sql_query("""
SELECT full_name, movie_appearances, total_lines
    FROM marvel.top_characters
    ORDER BY total_lines DESC
    LIMIT 10;
""", engine)
lines_vs_movies

          full_name  movie_appearances  total_lines
0        TONY STARK                  9         1788
1      STEVE ROGERS                 10          977
2              THOR                  7          863
3      PETER PARKER                  4          551
4  NATASHA ROMANOFF                 10          498
5      PEPPER POTTS                  7          442
6      BRUCE BANNER                  7          379
7         NICK FURY                  7          366
8              LOKI                  6          327
9        SCOTT LANG                  3          324

In [38]:
lines_vs_movies.to_csv('/Users/lauurasarabia/Ironhack/projects/project4/queries/lines_vs_movies.csv')

In [39]:
total_lines = pd.read_sql_query("""
SELECT full_name, total_lines
    FROM marvel.top_characters
    WHERE Avengers_Endgame > 0
    ORDER BY total_lines DESC
    LIMIT 10;
""", engine)
total_lines

          full_name  total_lines
0        TONY STARK         1788
1      STEVE ROGERS          977
2              THOR          863
3      PETER PARKER          551
4  NATASHA ROMANOFF          498
5      PEPPER POTTS          442
6      BRUCE BANNER          379
7              LOKI          327
8        SCOTT LANG          324
9      JAMES RHODES          318

In [40]:
total_lines.to_csv('/Users/lauurasarabia/Ironhack/projects/project4/queries/total_lines.csv')

In [41]:
avg_words_vs_movie_app = pd.read_sql_query("""
SELECT full_name, movie_appearances, total_lines, avg_words_per_line
    FROM marvel.top_characters
    ORDER BY avg_words_per_line DESC
    LIMIT 10;
""", engine)
avg_words_vs_movie_app

          full_name  movie_appearances  total_lines  avg_words_per_line
0               EGO                  1           57                  27
1     JUSTIN HAMMER                  1           82                  27
2              HELA                  1           32                  21
3  ALEXANDER PIERCE                  2           60                  19
4     ULYSSES KLAUE                  2           40                  18
5              ODIN                  3          136                  16
6          HEIMDALL                  5           53                  15
7            ULTRON                  1           81                  14
8              LOKI                  6          327                  12
9         NICK FURY                  7          366                  12

In [42]:
avg_words_vs_movie_app.to_csv('/Users/lauurasarabia/Ironhack/projects/project4/queries/avg_words_vs_movie_app.csv')